<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include .\..\Common.wxi ?>
  
  <Fragment>

    <!-- Detect that .NET framework 4.6 is installed -->
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED" />

    <Condition
      Message="[ProductName] requires .NET Framework 4.6.1. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED]]>
    </Condition>

    <ComponentGroup Id="NET461_Dependency" />
    
  </Fragment>
</Wix>