<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include .\..\Common.wxi ?>
  
  <Fragment>

    <!-- Detect that .NET framework 4.0 is installed -->
    <PropertyRef Id="NETFRAMEWORK40FULL" />

    <Condition
      Message="[ProductName] requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <ComponentGroup Id="NET40_Dependency" />
    
  </Fragment>
</Wix>