<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include .\..\Common.wxi ?>

  <?define VCPP2010MinimumVersion = "10.0.40219" ?>
  
  <?if $(var.Platform) = x64 ?>
    <?define VCPP2010UpgradeCode = "5B75F761-BAC8-33BC-A381-464DDDD813A3" ?>
  <?else ?>
    <?define VCPP2010UpgradeCode = "1F4F1D2A-D9DA-32CF-9909-48485DA06DD5" ?>
  <?endif ?>
  
  <Fragment>

    <Upgrade Id='$(var.VCPP2010UpgradeCode)' >
      <UpgradeVersion OnlyDetect='yes' Minimum='$(var.VCPP2010MinimumVersion)' Property='HASVCPP2010'/>
    </Upgrade>

    <Condition Message="[ProductName] requires Microsoft Visual C++ 2010 Redistributable Package ($(var.Platform))">
      <![CDATA[Installed OR HASVCPP2010]]>
    </Condition>

    <ComponentGroup Id="redist_vc100_Dependency" />
    
  </Fragment>
</Wix>